.intro{
    transition: .5s ease;
    overflow: hidden;
    width: 100% ;

}

.bg-carousel{
    width: 100% ;
}
.carousel{
    width: 100% ;
}
.carousel-item{
    width: 100% ;
} 

.bg-img{
    width: 100% !important;
}

.carousel-inner{
    width: 100% !important;
}

.foot-icon{
    transform: scale(2);
}

/* -----------media query------------ */

@media screen and (min-width:769px) and (max-width:1280px) {
    
    .intro-foot{
        flex-direction: column !important;
        width: 100%;
        padding-left: 0% !important;
    }

    .foot-icon i{
        justify-content: start !important;
        margin-left: 0% !important;
    }

    .middle{
        margin: 16px 0% !important;
    }
}

@media screen and (min-width:501px) and (max-width:768px) {

    .intro-foot{
        flex-direction: column !important;
        width: 100%;
        padding-left: 0% !important;
    }

    .foot-icon i{
        justify-content: start !important;
        margin-left: 0% !important;
    }

    .middle{
        margin: 16px 0% !important;
    }
    .foot-desc h6{
        display: none !important;
    }
}

@media screen and (max-width:500px) {
    .intro{
        flex-direction: column !important;
        justify-content: space-between !important;
        align-items: center !important;
        margin: 0% !important;
    }

    .intro-foot{
        flex-direction: column !important;
        width: 100%;
        padding-left: 0% !important;
    }

    .foot-icon i{
        justify-content: start !important;
        margin-left: 0% !important;
    }

    .middle{
        margin: 16px 0% !important;
    }

    .foot-desc h6{
        display: none !important;
    }

}
